.container {
  display: flex;
  height: 100vh;
} 

.row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.generator{
  margin-top: 60px;
  margin-bottom: 20px;
  justify-content: center;
}

.menu {
  align-items: center;
  justify-content: center;
  background-color: #FFFEFF;
  width: 20%;
  height: 100vh;
  border-right: 2px solid #000;
  box-sizing: border-box;
}

.headerComponent{
  background-color: #404D68;
  color: white;
  top: 0;
  display: flex;
  justify-content: center;
}

.sizeForm{
  display: flex;
  height: 20px;
}

.grid{
  display: flex;
  flex-direction: column;
  background-color: blue;
  width: 80%;
}

.cell{
  width: 100%;
  height: 100%;
}

.generateButton{
  background-color: #37BCFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}