.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
} 

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 20%;
  height: 100vh;
}

.grid{
  flex-grow: 1;
  background-color: blue;
  grid-template-columns: repeat(auto-fill,20px);
  grid-gap: 1px;
  width: 80%;
  height: 100vh;
}

.row{
  display: flex;
}

.cell{
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}
